<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<style>
    table {
  width: 100%;
}
th {
  height: 30px;
}
body {
            text-align: center;
            background-color: #F0F0F0;
}
.card {
    border: 1px #e7e7e7 solid;
    background-color: #ffff;
    margin: 15px 0px 15px 0px;
    border-radius: 10px 10px 10px 10px;
}

.container{
width: 500px;
}

h3 {
  background-color: #9b4dca;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}
h3 > a {
  color: #FFFF;
}
</style>
  <body>
    <%- include("./partials/header.ejs") %>
<h1>Animal Index</h1>
  <a href="/animals/new %>">
        <button> Add Animal</button>
    </a>

  <div class="container">
 <% for(let i = 0; i < animals.length; i++) { %>
 <% if(animals[i]) { %>
   <div class="card">
     <h3><a href="/animals/show/<%= animals[i]._id %>"><%=animals[i]?.species %></a></h3>
    <p>Extinct: <%= animals[i]?.extinct %></p>
    <p>Location: <%= animals[i]?.location %></p>
    <p>Life Expectancy: <%= animals[i]?.lifeExpectancy %></p> 
   </div>
  
<% }
  } %>
  </div>
</body>
<footer>
  <p></p>
  <a href="https://generalassemb.ly/">Made by GA Carina Sqaud Student: Wes</a>
</footer>
</html>

