<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
    <article>       
  <h3> Specie:<%= animal.species %>
   <p>Extinct: <%= animal.extinct %></p>
    <p>Location: <%= animal.location %></p>
    <p>Life Expectancy: <%= animal.lifeExpectancy %></p>
        </article>
      <a href="/animals/edit/<%= animal._id %>/">Edit This Animal</a>
      <br>
      <a href="/animals/"> Return to Home
       <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
    </body>
</html>
